:root {
  --primary-clr: #181f2a;
  --primary-clr-shadow: rgba(24, 31, 42, 0.75);
  --footer-clr: #0b1523;
  --intro-bg-clr: #1c2431;
  --dark-blue-clr: #202a3c;
  --white-clr: white;
  --cyan-clr: #65e2d9;
  --blue-clr: #339ecc;
  --fw-regular: 400;
  --fw-semiBold: 700;
  --ff-body: Open Sans, sans-serif;
  --ff-heading: Raleway, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.3;
  font-size: 14px;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--white-clr);
  background: var(--primary-clr);
  min-height: 100vh;
}

main {
  z-index: 10;
}

img {
  display: block;
  border-style: none;
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0 0 .5rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-family: var(--ff-heading);
}

@media (max-width: 39.9375em) {
  h2 {
    margin-bottom: 1.25rem;
  }
}

p, blockquote {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.title {
  font-weight: var(--fw-semiBold);
  font-family: var(--ff-heading);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.subtitle {
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: var(--fw-regular);
  font-family: var(--ff-heading);
}

@media (max-width: 39.9375em) {
  .subtitle {
    font-size: 1.05rem;
    line-height: 1.6;
  }
}

form {
  width: 100%;
}

label[for="email"] {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: var(--white-clr);
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display: inline-block;
}

a:hover {
  opacity: .89;
}

a:focus, .btn:focus, input:focus {
  outline-style: dotted;
  outline-color: var(--blue-clr);
  outline-width: 2px;
  outline-offset: 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 39.9375em) {
  .container {
    padding: 0 1rem;
  }
}

/* grid */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  width: 90%;
  background-image: linear-gradient(60deg, var(--cyan-clr), var(--blue-clr));
  padding: 1rem 1.75rem;
  border-radius: 2rem;
  color: var(--white-clr);
  font-size: 1.25rem;
  -webkit-box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 4px 6px 22px -4px rgba(0, 0, 0, 0.35);
          box-shadow: 4px 6px 22px -4px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(125deg, var(--blue-clr), var(--cyan-clr));
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: var(--white-clr);
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2.5rem 0;
  z-index: 20;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

@media (max-width: 39.9375em) {
  header {
    padding: 1.5rem 0;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-inversed {
  display: none;
}

header a:hover, header a:focus {
  color: var(--blue-clr);
}

.header-scrolled {
  background: var(--white-clr);
  padding: 0;
  -webkit-box-shadow: 1px 1px 18px 0px rgba(24, 31, 42, 0.15);
          box-shadow: 1px 1px 18px 0px rgba(24, 31, 42, 0.15);
}

.header-scrolled a {
  color: var(--intro-bg-clr);
}

.header-scrolled .logo-original {
  display: none;
}

.header-scrolled .logo-inversed {
  display: block;
  margin: .5rem 0;
  width: 80px;
}

.logo img {
  width: 120px;
}

@media (max-width: 39.9375em) {
  .logo img {
    width: 80px;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  font-family: var(--ff-heading);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -.25rem;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--white-clr);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

nav a:hover:after {
  background: var(--blue-clr);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/* intro section */
.intro {
  padding: 10rem 0 2rem;
  text-align: center;
  background: var(--intro-bg-clr);
}

.intro .container {
  max-width: 85ch;
  margin: 0 auto;
}

.intro__text {
  z-index: 10;
}

.intro img {
  margin-bottom: 2rem;
  z-index: 10;
}

/* about section */
.slide-in {
  -webkit-transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
  opacity: 0;
}

.slide-in.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.about {
  padding: 3rem 0;
}

.about img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about article {
  margin-bottom: 2rem;
}

.about a {
  color: var(--cyan-clr);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.about a::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--cyan-clr);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.about a span {
  margin-left: 1rem;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.about a:hover span, .about a:focus span {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.about a:hover::after, .about a:focus::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.section__img {
  margin-bottom: 2rem;
}

/* features section */
.features {
  padding: 5rem 0;
  position: relative;
  z-index: 5;
}

.features::before {
  content: '';
  position: absolute;
  top: -18vh;
  left: 0;
  width: 100%;
  height: 15em;
  background-image: url(../imgs/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.feature__item {
  place-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 23rem;
  line-height: 1.5;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.fade-in.appear {
  opacity: 1;
}

.feature__img {
  height: 65px;
  margin-bottom: 2rem;
}

.feature__title {
  font-size: 1.2rem;
  font-weight: var(--fw-semiBold);
  font-family: var(--ff-heading);
  margin-bottom: 1rem;
}

.feature__text {
  text-align: center;
  font-size: 1rem;
}

/* testimonials section */
.testimonials {
  padding: 4rem 0 8rem;
}

.testimonials .container {
  padding: 0 1rem;
}

.testimonials .grid {
  gap: 2rem;
}

.testimonials__item {
  position: relative;
  background: var(--dark-blue-clr);
  border-radius: .5rem;
  -webkit-box-shadow: 4px 6px 13px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 6px 13px -4px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 2rem 1.5rem;
}

.testimonials__item:first-of-type:before {
  content: '';
  position: absolute;
  background: url(../imgs/bg-quotes.png) no-repeat;
  height: 3.5rem;
  width: 3.5rem;
  top: -2rem;
  left: -0.5rem;
  z-index: -1;
}

.testimonials__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.testimonials__info img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}

.testimonials__info cite {
  display: block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: .85rem;
  font-style: normal;
  margin-bottom: 0;
}

.testimonials__info > div {
  padding-left: 1rem;
}

/* sign-in section */
.sign-in {
  background: var(--intro-bg-clr);
  border-radius: .5rem;
  -webkit-box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 6px 17px -4px rgba(0, 0, 0, 0.55);
  margin: 0 1rem -13rem;
  padding: 3rem 1.5rem;
}

.sign-in__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 39.9375em) {
  .sign-in__text {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.sign-in .btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}

.sign-in input {
  border: none;
  padding: 1rem 1.75rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}

/* footer */
.footer {
  margin-top: auto;
  padding: 17rem 1rem 2rem;
  background: var(--footer-clr);
}

.footer a:hover, .footer a:focus {
  color: var(--blue-clr);
}

.footer a:hover svg path, .footer a:focus svg path {
  fill: var(--cyan-clr);
}

.footer a::after {
  background: var(--blue-clr);
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3rem;
}

.footer-grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-info a {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 2rem;
}

.logo-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-info span {
  padding-top: .5rem;
}

.logo-info svg {
  margin-right: 1rem;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social li {
  margin: 0 .5rem;
}

svg {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.social a:focus svg svg, .social a:hover svg {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.logo-info a:focus path,
.logo-info a:hover path {
  fill: url(#fancyGradientLogo);
}

.social a.facebook-link:focus svg path,
.social a.facebook-link:hover svg path {
  fill: url(#fancyGradientFacebook);
}

.social a.twitter-link:focus svg path,
.social a.twitter-link:hover svg path {
  fill: url(#fancyGradientTwitter);
}

.social a.instagram-link:focus svg path,
.social a.instagram-link:hover svg path {
  fill: url(#fancyGradientInstagram);
}

.contacts a:hover .email-icon path.inside,
.contacts a:focus .email-icon path.inside {
  fill: var(--footer-clr);
}

.contacts {
  margin-top: -2rem;
}

.contacts a {
  color: var(--white-clr);
  margin-bottom: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacts svg {
  margin-right: 1rem;
}

.footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links ul {
  margin-bottom: 2rem;
}

.footer-links li {
  margin: 0 0 .5rem;
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution p {
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-size: .75rem;
}

.attribution p:last-of-type a {
  background: linear-gradient(45deg, var(--cyan-clr), var(--blue-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  margin-left: .25rem;
}

.attribution p:last-of-type a:hover {
  text-decoration: underline;
  background: linear-gradient(125deg, var(--white-clr), var(--cyan-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 660px) {
  .btn {
    width: auto;
    min-width: 300px;
    font-size: 1rem;
  }
  nav li {
    margin-left: 2rem;
  }
  .title, .section__title {
    font-size: 2.25rem;
    line-height: 1.7;
  }
  .features::before {
    top: -24vh;
    height: 30em;
    background-image: url(../imgs/bg-curvy-desktop.svg);
    z-index: -1;
    background-size: contain;
  }
  .grid article {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid .section__title {
    max-width: 20ch;
    line-height: 1.35;
  }
  .grid {
    -ms-grid-columns: (minmax(10em, 1fr))[2];
        grid-template-columns: repeat(2, minmax(10em, 1fr));
    gap: 5rem;
  }
  .sign-in {
    max-width: 85ch;
    margin-left: auto;
    margin-right: auto;
  }
  .sign-in p {
    text-align: center;
  }
  .sign-in form {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sign-in input {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .sign-in .btn {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: inherit;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  footer .footer-grid {
    -ms-grid-columns: (minmax(14rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
  footer .logo-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  footer .logo-info p {
    margin-bottom: 0;
  }
  footer .contacts {
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0;
  }
  footer .footer-links {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  footer .footer-links nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-links ul {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  footer .attribution {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {
  .features::before {
    top: -55vh;
    background-position-x: 55%;
    min-height: 40em;
    background-size: cover;
  }
  .grid {
    gap: 4rem 0rem;
  }
  .about .grid {
    gap: 6rem;
  }
  .testimonials .container {
    padding: 0 2rem;
  }
  .testimonials .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  footer .footer-links {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  footer .footer-links nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .sign-in {
    max-width: 105ch;
    padding: 3rem 5rem;
    margin-bottom: -9rem;
  }
  footer .footer-grid {
    max-width: 1200px;
    margin: 0 auto;
    -ms-grid-columns: minmax(18rem, 1fr) minmax(10rem, 1fr) minmax(15em, auto) minmax(10rem, auto);
        grid-template-columns: minmax(18rem, 1fr) minmax(10rem, 1fr) minmax(15em, auto) minmax(10rem, auto);
  }
  footer .logo-info {
    -ms-grid-column: 1;
    grid-column: 1;
    padding-top: 0;
  }
  footer .contacts, footer .footer-links, footer .social {
    padding-top: 5.625rem;
  }
  footer .contacts {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .footer-links {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  footer .social {
    justify-self: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */