@import '../config/variables';

/* footer */
footer {
  margin-top: auto;
  padding: 17rem 1rem 2rem;
  background: var(--footer-clr);
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  > div {
    display: flex;
    flex-direction: column;
  }
}
.logo-info {
  a {
    margin-bottom: 2rem;
  }
  p {
    display: flex;
    align-items: center;
    svg {
      margin-right: 1rem;
    }
  }
}

.social ul {
  display: flex;
  justify-content: center;
}
.social li {
  margin: 0 .5rem;
}
svg {
  transition: all .2s ease;
}
.social a {
  &:focus svg, &:hover {
    svg {
      transform: scale(1.25);
    }
  }
}
.logo-info a:focus path,
.logo-info a:hover path,
.logo-info a:focus path,
.social a:focus svg path, 
.social a:hover svg path {
  fill: url(#fancyGradient);
}

.contacts {
  margin-top: -2rem;
  a {
    color:var(--white-clr);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  svg {
    margin-right: 1rem;
  }
}

.footer-links ul {
  display: flex;
  flex-direction: column;
}
.footer-links ul {
  & {
  margin-bottom: 2rem;
  }
}
.footer-links li {
  margin: 0 0 .5rem;
}

// attribution
.attribution a {
  background: linear-gradient(45deg, var(--cyan-clr), var(--blue-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  transition: all 0.15s ease;
  &:hover {
    text-decoration: underline;
    background: linear-gradient(125deg, var(--white-clr),var(--cyan-clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attribution p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}