/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2.5rem 0;
  z-index: 20;
  transition: all 250ms ease-in;

  .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-inversed  {
    display: none;
  }
  a {
    &:hover, &:focus {
      color:var(--blue-clr);
    }
  }
}
.header-scrolled {
  background: var(--white-clr);
  padding: 0;
  box-shadow: 1px 1px 18px 0px hsla(218, 28%, 13%, 0.15);
  a {
    color: var(--intro-bg-clr);
  }
  .logo-original  {
    display: none;
  }
  .logo-inversed   {
    display: block;
    margin: .5rem 0;
    width: 80px;
  }
}

.logo img {
  width: 120px;
}
nav {
  ul {
    display: flex;
  }
  li {
    margin-left: 1rem;
  }
  a {
    font-family:var(--ff-heading);
    &::after {
      content: '';
      position: absolute;
      bottom: -.25rem;
      left: 0;
      height: 2px;
      width: 100%;
      background: var(--white-clr);
      transform: scaleX(0);
      transform-origin: right;
      transition: all 250ms ease-in;
    }
    &:hover:after {
      background: var(--blue-clr);
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}