// mediaqueries
@media (min-width: 660px) {
  .btn {
    width: auto;
    min-width: 300px;
    font-size: 1rem;
  }
  nav li {
    margin-left: 2rem;
  }
  .title {
    font-size: 2.25rem;
    line-height: 1.7;
  }
  .features::before {
    top: -27vh;
    height: 30em;
    background-image: url(../imgs/bg-curvy-desktop.svg);
    z-index: -1;
    background-size: contain;
  }
  .grid {
    grid-template-columns: repeat(2, minmax(10em, 1fr));
    gap: 5rem;
  }
  .sign-in {
    max-width: 85ch;
    margin-left: auto;
    margin-right: auto;

    form {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    input {
      flex-basis: 60%;
    }
    .btn {
      width: min-content;
      min-width: inherit;
      flex-basis: 30%;
    }
  }
  footer {
    .footer-grid {
      grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }
    .logo-info {
      grid-column: 1 / span 2;
      p {
        margin-bottom: 0;
      }
    }
    .contacts {
      grid-column: 1;
      margin: 0;
    }
    .footer-links {
      grid-row: 2;
      grid-column: 1 / span 2;
      nav {
        display: flex;
        justify-content: flex-start;
      }
      ul {
        flex-basis: 35%;
      }
    }
    .attribution {
      grid-column: 1 / -1;
    }
  }
}

// small desktop
@media (min-width: 1024px) {
  .features::before {
    top: -55vh;
    background-position-x: 55%;
    min-height: 40em;
    background-size: cover;
  }
  .grid {
    gap: 4rem 0rem;  
  }
  .about {
    .grid {
      gap: 6rem;  
    }
  }
  .testimonials {
    .container {
      padding: 0 2rem;
    }
    .grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
  footer {
    .footer-links {
      grid-row: 2;
      grid-column: 1 / span 2;
      nav {
        justify-content: space-between;
      }
    }
  }
}

// desktop
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
  footer {
    .footer-grid {
      max-width: 1200px;
      margin: 0 auto;
      grid-template-columns: minmax(18rem, 1fr) minmax(10rem, 1fr) minmax(15em, auto) minmax(10rem, auto);
    }
     .logo-info {
      grid-column: 1;
      padding-top: 0;
    }
    .contacts, .footer-links,.social   {
      padding-top: 5.625rem;
    }
    .contacts {
      grid-column: 2;
      justify-self: center;
    }
    .footer-links {
      grid-column: 3;
      grid-row: 1;
    }
    .social {
      justify-self: flex-end;
    }
  }
}

// mobile
@media (max-width: 575px) {
  header {
    padding: 1.5rem 0;
  }
  .container {
    padding: 0 1rem;
  }
  .logo img {
    width: 80px;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .subtitle {
    font-size: 1.05rem;
    line-height: 1.6;
  }
  .sign-in__text {
    text-align: center;
    margin-bottom: 2rem;
  }
}